body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.events-navigation {
  text-align: center;
  margin-bottom: 20px;
}

.event-nav-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: rgb(218, 217, 217);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.event-nav-button:hover {
  background-color: pink;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.event-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  background-color: #ffe4e1;
}

.event-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.event-description {
  color: #666;
  margin-top: 10px;
}

.events-navigation {
  text-align: center;
  margin-bottom: 20px;
}

.event-nav-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: rgb(221, 221, 221);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.event-nav-button.active {
  background-color: pink;
}

.event-nav-button:hover {
  background-color: pink;
}

.events-grid {
  display: none;
}

.active-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
