body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.image-map-container {
  display: flex;
  width: 100%;
}

.image-card {
  width: 60%;
}

.image-card .event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.map-container {
  width: 45%;
  height: auto;
  margin-left: 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
  position: sticky;
  top: 20px;
}

.info-card, .creator-card {
  width: 100%;
}

.info-card .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;

}

.card-text {
  margin-bottom: 10px;
  color: #333;
}

.bookmark-button, .follow-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: pink;
  border-radius: 4px;
  text-decoration: none;
}

.card-body {
  text-align: center;
}

#button-bookmark, #follow_button {
  background-color: pink;
  border-color: pink;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#button-bookmark:hover, #follow_button:hover {
  background-color: black;
  color: white;
}
