<h1>Events</h1>
<% @events.each do |event|%>
<p><%= event.name  %></p>
<p><%= event.location  %></p>
<%end %>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
