<div class="about-us-container">
  <div class="about-us-header">
    <h1>About us</h1>
    <p>Learn more about our mission, values, and team.</p>
  </div>

  <div class="about-us-content">
    <section class="mission-section">
      <h2>Our Mission</h2>
      <p>
        Our mission is to bring people together through music, events, parties, and all kinds of shared experiences.
        We believe in the power of community and the importance of creating memorable
        moments for everyone.
      </p>
    </section>

    <section class="values-section">
      <h2>Our Values</h2>
      <ul>
        <li><strong>Community:</strong> We believe in the power of togetherness.</li>
        <li><strong>Inclusion:</strong> Everyone is welcome to join and share their passion.</li>
        <li><strong>Innovation:</strong> Constantly pushing the boundaries of what's possible.</li>
        <li><strong>Creativity:</strong> Encouraging new ideas and unique perspectives.</li>
      </ul>
    </section>

    <section class="team-section">
      <h2>Meet Our Team</h2>
      <div class="team-members row-of-3">
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/173382602?v=4" alt="Team Member 1">
          <h3>Adrien Kropfeld</h3>
        </div>
        <div class="team-member">
          <img src="https://res.cloudinary.com/doxvqzbhi/image/upload/v1724939409/T02NE0241-U07BE9BB468-15a872818b96-512_dgaee8.jpg" alt="Team Member 2">
          <h3>Arman Kurtovic</h3>
        </div>
        <div class="team-member">
          <img src="https://res.cloudinary.com/doxvqzbhi/image/upload/v1724939380/T02NE0241-U07A7GBG294-562304f06391-512_ryqfp1.jpg" alt="Team Member 3">
          <h3>Daniel Müller</h3>
        </div>
      </div>
      <div class="team-members row-of-2">
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/133131587?v=4" alt="Team Member 4">
          <h3>Kenan Mehic</h3>
        </div>
        <div class="team-member">
          <img src="https://res.cloudinary.com/doxvqzbhi/image/upload/v1724939425/T02NE0241-U07AR5CHVDM-11ec95f7248d-512_pydonv.jpg" alt="Team Member 5">
          <h3>Michele di Stadio</h3>
        </div>
      </div>
    </section>
  </div>
</div>
