<div class="myspace-buttons">
  <%= link_to 'Followers', followers_path, class: 'myspace-button followers-button' %>
  <%= link_to 'My Bookmarks', bookmarks_path, class: 'myspace-button bookmarks-button' %>
  <%= link_to 'My Events', events_path, class: 'myspace-button events-button' %>
</div>
