<div class="myspace-buttons">
  <%= link_to 'Followers(36)', followers_path, class: 'myspace-button followers-button' %>
  <%= link_to 'My Bookmarks(1)', bookmarks_path, class: 'myspace-button bookmarks-button' %>
  <%= link_to 'My Events(4)', events_path, class: 'myspace-button events-button' %>
</div>
