@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes wavePulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(2deg);
  }
  50% {
    transform: scale(1.4) rotate(-2deg);
  }
  75% {
    transform: scale(1.2) rotate(2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.banner-stararea {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;

}

.starsign {
  display: flex;
  animation: wavePulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.banner-main-title h1 {
  font-weight: bold;
  font-size: 60px;
  margin-right: 120px;
  text-shadow: 1px 1px 1px black;
}
.banner-subtext {
  font-weight: 20px;
  margin-right: 120px;
}
// Search button
.banner-btn-success {
  background-color: #f4c0e8;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  line-height: 56px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding-left: 10px;
}
.banner-button-area {
  padding-left: 10px;
}

.banner-btn-success:hover {
  background-color: black;
  color: white;
}

// Search Field
.banner-search-form {
  display: flex;
  align-items: center;
  width: 800px;
  justify-content: center;
}
.rounded-pill {
  margin: 0px;
  top: 50%;
  background-color: #EDEDED;
}

// Search Area
.banner-search-area {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-right: 120px;
}

//Circle Logo in Banner
.circle-logo-area {
  padding-top: 60px;
}

// Animation for the banner
.banner-half-moon3{
  animation-delay: 1.25s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.banner-half-moon2{
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.banner-half-moon1{
  animation-delay: 0.5s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.banner-half-moon0{
  animation-delay: 0.25s;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
