/* app/assets/stylesheets/myspace.scss */

.myspace-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.myspace-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.followers-button {
  background-color: #FFEEFB; /* Highlight icons */
  color: #1D1D1D; /* Call to action color */
  border: 2px solid #B1B1B1; /* Secondary color border */
}

.bookmarks-button {
  background-color: #FFF7FD; /* Highlight shade */
  color: #1D1D1D; /* Call to action color */
  border: 2px solid #B1B1B1; /* Secondary color border */
}

.events-button {
  background-color: #EDEDED; /* Lighter gray color */
  color: #000000; /* Headers and text color */
  border: 2px solid #B1B1B1; /* Secondary color border */
}

.myspace-button:hover {
  background-color: #1D1D1D; /* Call to action color */
  color: #FFFFFF; /* White text on hover */
}
