html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #EDEDED;
  padding: 1rem;
  text-align: center;
  color: #1D1D1D;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.myspace-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: 50px;
}

.myspace-button {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background-color: #f4c0e8;
  color: #1D1D1D;
  border: 2px solid #B1B1B1;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 220px;
  margin: 0 auto;
}

.myspace-button:hover {
  background-color: #1D1D1D;
  color: #FFFFFF;
  transform: scale(1.05);
}

footer {
  background-color: #EDEDED;
  padding: 1rem;
  text-align: center;
  color: #1D1D1D;
  margin-top: auto;
}
