.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#background {
  background-color: black;
}

.name_app {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

i {
  color: white;
  font-size: 1.5em;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.avatar {
  background-size: cover;
}
