.trendsetters-content {
  padding-bottom: 2rem;
}

.trendsetter-logo-area {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}

.trendsetter-headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.trendsetter-viewall h2 {
  font-size: 1rem;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0.2rem;
}

.trendsetter-card-area {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.smalltitle
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:20px;
font-family:Kanit;
line-height:auto;
border-style:hidden;
outline:none;
}

.trendsetter-index-card {
  text-align: center;
}

.trendsetter-index-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.follower-amount {
  color:#B1B1B1;
  text-align:center;
  vertical-align:text-top;
  font-size:14px;
  font-family:Kanit;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.like-heart i{
  color: red;
  fill: red;
}

.like-heart-missing i{
color: black;
}

.trendsetter-index-name a {
  color: black;
}
